{% extends "posts/base.html" %}
{% load staticfiles %}

{% block title %}Create and Update Post{% endblock %}

{% block header-image %}{% static 'posts/img/home-bg.jpg' %}{% endblock %}

{% block heading %}
	<div class="site-heading">
	    <h1>Create and Update Post</h1>
	</div>	
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
			<form method="POST" action="" enctype="multipart/form-data">
			    <div class="control-group">
                    {% csrf_token %}
					{{ form.as_p }}	
                </div>
                <br/>
				<input type="submit" class="btn btn-primary" name="Submit" value="Submit"/>
			</form>
		</div>
	</div>
</div>
{% endblock %}